[user]
	email = dilved1014@gmail.com
	name = Zhaoyilunnn
[http]
	; proxy = socks5://127.0.0.1:10808
	proxy = http://127.0.0.1:10808
[https]
	; proxy = socks5://127.0.0.1:10808
	proxy = https://127.0.0.1:10808
