*.pdf
*temp*
*.tar.gz
html.*
.DS_Store
.cache*
*.bak
/.aider*

temp/

# python
__pycache__


# Latex
*.aux
*.bbl
*.log

# Figure
*.svg

# Managed in standalone repo: https://github.com/Zhaoyilunnn/dotfiles
# Keep these out of utils repo:
/dev/dotfiles/.config/nvim/
/dev/dotfiles/dot_codex/
/dev/dotfiles/dot_config/
/dev/dotfiles-chezmoi/
